@import "../../shared/footer";
@import "../../shared/template";
@import "../../shared/header";
@import "../../shared/cover";
@import "../../shared/burger";

.header {
  position: static;
  .link-list {
    color: $dark;
  }
  .burger {
    .line {
      background-color: $dark;
    }
  }
  .right {
    .language-select {
      color: $dark;
    }
    .contact-btn {
      color: $dark;
      border: 1px solid $dark;
    }
  }
}

.cover {
  background-image: url("../../../../assets/images/SECTION_IMAGE.png");
}

.about {
  margin-top: 6rem;
  .title {
    color: $dark;
  }
  .subtitle {
    width: 80%;
    font-size: 1.1rem;
    margin-top: 1.5rem;
  }
  &__inner {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 4rem;
    align-items: center;
    .right {
      img {
        width: 100%;
      }
    }
  }
  .contact-list {
    list-style: none;
    &__item {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1.1rem;
      line-height: 150%;
      margin-bottom: 2rem;
    }
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 50px;
      min-width: 50px;
      background-color: $primary;
      border-radius: 50%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .about .subtitle {
    width: 100%;
    font-size: 1rem;
  }
  .about__inner {
    display: block;
    margin-top: 3rem;
    .right {
      margin-top: 3rem;
    }
  }
}
