.cover {
  padding: 6rem 0;
  color: white;
  background-color: rgb(178, 178, 178);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  &__path {
    font-weight: 500;
  }
  &__title {
    font-size: 4rem;
    font-weight: 500;
    margin-top: 0.5rem;
  }
  .hero {
    position: relative;
    z-index: 2;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $dark;
    z-index: 0;
    opacity: 0.5;
    right: 0;
  }
}
