@import "./template";

.footer {
  margin-top: 350px;
  position: relative;
  padding: 3.5rem 0;
  a {
    width: fit-content;
  }
  .left-bg {
    z-index: -2;
    position: absolute;
    width: 50%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 50%;
    background-color: $bg;
  }
  .right-bg {
    z-index: -2;
    width: 50%;
    left: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: $primary;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    ul {
      list-style: none;
      width: fit-content;
      li {
        width: fit-content;
      }
    }
    .right {
      padding-left: 6rem;
      color: white;
    }
  }
  // Left
  &__links {
    margin-top: 3rem;
  }
  &__link {
    margin-bottom: 1.5rem;
    font-weight: 500;
    transition: cover 0.2s linear;
    &:hover {
      color: $dark-hover;
    }
  }
  &__accent-wrapper {
    margin-top: 3rem;
  }
  &__accent-link {
    margin-bottom: 1rem;
    font-size: 2rem;
    transition: cover 0.2s linear;
    &:hover {
      color: $dark-hover;
    }
  }
  .rights-reserved {
    position: absolute;
    bottom: 3.5rem;
  }
  //Right
  .form-title {
    font-weight: 500;
    font-size: 3rem;
  }
  .form-subtitle {
    margin-top: 0.8rem;
  }
  .footer-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    textarea {
      height: 200px;
    }
    .footer-input {
      font-family: $font;
      font-size: 1rem;
      background-color: transparent;
      color: white;
      border: none;
      border-bottom: 1px solid white;
      outline: none;
      padding: 1rem 0;
      resize: none;
      margin-bottom: 1rem;
    }
    .footer-button {
      cursor: pointer;
      padding: 1rem 4rem;
      width: fit-content;
      color: $primary;
      background-color: white;
      outline: none;
      border: none;
      font-size: 1rem;
      font-family: $font;
      border-radius: 2.5rem;
      margin-top: 3rem;
      transition: background 0.2s linear;
      &:hover {
        background-color: $white-hover;
      }
    }
  }
}
