@import "./template";

.header {
  position: absolute;
  padding: 0 100px;
  top: 0;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .link-list {
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 500;
    gap: 60px;
    color: white;
    &__item {
      transition: opacity 0.2s linear;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .right {
    display: flex;
    gap: 25px;
    align-items: center;
    .language-select {
      background-color: transparent;
      border: none;
      color: white;
      font-size: 1rem;
      font-family: $font;
      cursor: pointer;
      transition: background 0.2s linear;
    }
    .contact-btn {
      color: white;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
  .burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    .line {
      height: 2px;
      min-width: 33px;
      background-color: white;
    }
  }
}

@media only screen and (max-width: 1600px) {
  .header {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 1200px) {
  .header .link-list {
    display: none;
  }
  .burger {
    display: flex !important;
  }
}

@media only screen and (max-width: 700px) {
  .header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .header .right {
    .language-select {
      display: none;
    }
    .contact-btn {
      display: none;
    }
  }
}

@media only screen and (max-width: 400px) {
  .logo img {
    width: 120px;
  }
}
