@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

$primary: #18428b;
$dark: #242424;
$grey-60: rgba(0, 0, 0, 0.6);
$grey-30: rgba(0, 0, 0, 0.3);
$white-60: rgba(255, 255, 255, 0.6);
$white-30: rgba(255, 255, 255, 0.3);
$white-hover: rgb(222, 222, 222);
$bg: #f2f5f8;
$font: "Manrope", sans-serif;

.bold {
  font-weight: 700;
}

a {
  color: inherit;
  font-family: $font;
  text-decoration: none;
}

.section-name {
  font-size: 1.1rem;
  color: $dark;
}

.section-title {
  font-size: 2.5rem;
  color: $primary;
  font-weight: 500;
}
.section-subtitle {
  font-size: 1rem;
  color: $dark;
}

.btn-arrow {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  gap: 20px;
  font-size: 16px;
  font-family: $font;
  transition: opacity 0.2s linear;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.btn {
  padding: 1em 2em;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 38px;
  font-size: 16px;
  font-family: $font;
  display: flex;
  gap: 5px;
  cursor: pointer;
  transition: background 0.2s linear;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

body {
  color: $dark;
  overflow-x: hidden;
  font-family: $font;
}
