@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
.bold {
  font-weight: 700;
}

.carousel-btn {
  background-color: #18428b;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-btn img {
  width: 1rem;
}

a {
  color: inherit;
  font-family: "Manrope", sans-serif;
  text-decoration: none;
}

.section-name {
  font-size: 1.1rem;
  color: #242424;
}

.section-title {
  font-size: 2.5rem;
  color: #18428b;
  font-weight: 500;
}

.section-subtitle {
  font-size: 1rem;
  color: #242424;
}

.btn-arrow {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  gap: 20px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  transition: opacity 0.2s linear;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-arrow:hover {
  opacity: 0.7;
}

.btn {
  padding: 1em 2em;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 38px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  display: flex;
  gap: 5px;
  cursor: pointer;
  transition: background 0.2s linear;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.animation-line {
  overflow: hidden;
}

.container {
  min-width: 1200px;
  max-width: 1300px;
  margin: 0 auto;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: #242424;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
  --section-margin: 13rem;
}

@media only screen and (max-width: 1400px) {
  body {
    font-size: 14px;
  }
  .container {
    min-width: 100%;
    max-width: 100%;
    padding: 0 5%;
  }
  .section-title {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 900px) {
  body {
    --section-margin: 8rem;
  }
  .section-title {
    font-size: 1.5rem;
  }
}
.header {
  position: absolute;
  padding: 0 100px;
  top: 0;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .link-list {
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: 500;
  gap: 60px;
  color: white;
}
.header .link-list__item {
  transition: opacity 0.2s linear;
}
.header .link-list__item:hover {
  opacity: 0.8;
}
.header .right {
  display: flex;
  gap: 25px;
  align-items: center;
}
.header .right .language-select {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  font-family: "Manrope", sans-serif;
  cursor: pointer;
  transition: background 0.2s linear;
}
.header .right .contact-btn {
  color: white;
}
.header .right .contact-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.header .burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.header .burger .line {
  height: 2px;
  min-width: 33px;
  background-color: white;
}

@media only screen and (max-width: 1600px) {
  .header {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media only screen and (max-width: 1200px) {
  .header .link-list {
    display: none;
  }
  .burger {
    display: flex !important;
  }
}
@media only screen and (max-width: 700px) {
  .header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .header .right .language-select {
    display: none;
  }
  .header .right .contact-btn {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .logo img {
    width: 120px;
  }
}
.bold {
  font-weight: 700;
}

.carousel-btn {
  background-color: #18428b;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-btn img {
  width: 1rem;
}

a {
  color: inherit;
  font-family: "Manrope", sans-serif;
  text-decoration: none;
}

.section-name {
  font-size: 1.1rem;
  color: #242424;
}

.section-title {
  font-size: 2.5rem;
  color: #18428b;
  font-weight: 500;
}

.section-subtitle {
  font-size: 1rem;
  color: #242424;
}

.btn-arrow {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  gap: 20px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  transition: opacity 0.2s linear;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-arrow:hover {
  opacity: 0.7;
}

.btn {
  padding: 1em 2em;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 38px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  display: flex;
  gap: 5px;
  cursor: pointer;
  transition: background 0.2s linear;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.animation-line {
  overflow: hidden;
}

.container {
  min-width: 1200px;
  max-width: 1300px;
  margin: 0 auto;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: #242424;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
  --section-margin: 13rem;
}

@media only screen and (max-width: 1400px) {
  body {
    font-size: 14px;
  }
  .container {
    min-width: 100%;
    max-width: 100%;
    padding: 0 5%;
  }
  .section-title {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 900px) {
  body {
    --section-margin: 8rem;
  }
  .section-title {
    font-size: 1.5rem;
  }
}
.bold {
  font-weight: 700;
}

.carousel-btn {
  background-color: #18428b;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-btn img {
  width: 1rem;
}

a {
  color: inherit;
  font-family: "Manrope", sans-serif;
  text-decoration: none;
}

.section-name {
  font-size: 1.1rem;
  color: #242424;
}

.section-title {
  font-size: 2.5rem;
  color: #18428b;
  font-weight: 500;
}

.section-subtitle {
  font-size: 1rem;
  color: #242424;
}

.btn-arrow {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  gap: 20px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  transition: opacity 0.2s linear;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-arrow:hover {
  opacity: 0.7;
}

.btn {
  padding: 1em 2em;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 38px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  display: flex;
  gap: 5px;
  cursor: pointer;
  transition: background 0.2s linear;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.animation-line {
  overflow: hidden;
}

.container {
  min-width: 1200px;
  max-width: 1300px;
  margin: 0 auto;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: #242424;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
  --section-margin: 13rem;
}

@media only screen and (max-width: 1400px) {
  body {
    font-size: 14px;
  }
  .container {
    min-width: 100%;
    max-width: 100%;
    padding: 0 5%;
  }
  .section-title {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 900px) {
  body {
    --section-margin: 8rem;
  }
  .section-title {
    font-size: 1.5rem;
  }
}
.footer {
  margin-top: var(--section-margin);
  position: relative;
  padding: 3.5rem 0;
}
.footer a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer .left-bg {
  z-index: -2;
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 50%;
  background-color: #f2f5f8;
}
.footer .right-bg {
  z-index: -2;
  width: 50%;
  left: 50%;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: #18428b;
}
.footer__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer__inner ul {
  list-style: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer__inner ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer__inner .right {
  padding-left: 6rem;
  color: white;
}
.footer__links {
  margin-top: 3rem;
}
.footer__link {
  margin-bottom: 1.5rem;
  font-weight: 500;
  transition: cover 0.2s linear;
}
.footer__link:hover {
  color: #585858;
}
.footer__accent-wrapper {
  margin-top: 3rem;
}
.footer__accent-link {
  margin-bottom: 1rem;
  font-size: 2rem;
  transition: cover 0.2s linear;
}
.footer__accent-link:hover {
  color: #585858;
}
.footer .rights-reserved {
  position: absolute;
  bottom: 3.5rem;
}
.footer .form-title {
  font-weight: 500;
  font-size: 3rem;
}
.footer .form-subtitle {
  margin-top: 0.8rem;
}
.footer .footer-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.footer .footer-form textarea {
  height: 200px;
}
.footer .footer-form .footer-input {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  padding: 1rem 0;
  resize: none;
  margin-bottom: 1rem;
}
.footer .footer-form .footer-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer .footer-form .footer-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer .footer-form .footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer .footer-form .footer-button {
  cursor: pointer;
  padding: 1rem 3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #18428b;
  background-color: white;
  outline: none;
  border: none;
  font-size: 1rem;
  font-family: "Manrope", sans-serif;
  border-radius: 2.5rem;
  font-weight: 500;
  margin-top: 3rem;
  transition: background 0.2s linear;
}
.footer .footer-form .footer-button:hover {
  background-color: rgb(222, 222, 222);
}

.bold {
  font-weight: 700;
}

.carousel-btn {
  background-color: #18428b;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-btn img {
  width: 1rem;
}

a {
  color: inherit;
  font-family: "Manrope", sans-serif;
  text-decoration: none;
}

.section-name {
  font-size: 1.1rem;
  color: #242424;
}

.section-title {
  font-size: 2.5rem;
  color: #18428b;
  font-weight: 500;
}

.section-subtitle {
  font-size: 1rem;
  color: #242424;
}

.btn-arrow {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  gap: 20px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  transition: opacity 0.2s linear;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-arrow:hover {
  opacity: 0.7;
}

.btn {
  padding: 1em 2em;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 38px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  display: flex;
  gap: 5px;
  cursor: pointer;
  transition: background 0.2s linear;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.animation-line {
  overflow: hidden;
}

.container {
  min-width: 1200px;
  max-width: 1300px;
  margin: 0 auto;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: #242424;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
  --section-margin: 13rem;
}

@media only screen and (max-width: 1400px) {
  body {
    font-size: 14px;
  }
  .container {
    min-width: 100%;
    max-width: 100%;
    padding: 0 5%;
  }
  .section-title {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 900px) {
  body {
    --section-margin: 8rem;
  }
  .section-title {
    font-size: 1.5rem;
  }
}
.burger-menu {
  padding: 2rem 5%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 10;
  transition: top 0.7s ease;
  background-color: #18428b;
}
.burger-menu .language-select {
  background-color: transparent;
  outline: none;
  color: white;
  border: none;
  font-family: "Manrope", sans-serif;
  font-size: 1.2rem;
}
.burger-menu .language-select option {
  color: black;
}
.burger-menu .contact-btn {
  color: white;
}
.burger-menu .bottom {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.burger-menu .cancel-icon {
  right: 5%;
  top: 2rem;
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  cursor: pointer;
}
.burger-menu .link-list {
  margin-top: 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.2rem;
}
.burger-menu .link-list a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.hide {
  top: -100%;
}

@media only screen and (max-width: 1300px) {
  .footer__inner .right {
    padding-left: 4rem;
  }
}
@media only screen and (max-width: 1000px) {
  .footer {
    padding-bottom: 0;
  }
  .footer .rights-reserved {
    position: static;
    margin-top: 6rem;
  }
  .footer__accent-link {
    font-size: 1.5rem;
  }
  .left-bg,
.right-bg {
    display: none;
  }
  .footer__inner {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer__inner .right {
    position: relative;
    padding-left: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .footer__inner .right::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: -100%;
    right: -100%;
    bottom: 0;
    background-color: #18428b;
  }
  .footer__inner .left {
    position: relative;
    padding-left: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .footer__inner .left::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: -100%;
    right: -100%;
    bottom: 0;
    background-color: #f2f5f8;
  }
}
.header #language-select option {
  color: #242424;
}

.main {
  height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .scroll-down {
  position: absolute;
  bottom: 100px;
  left: 100px;
}
.main video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  z-index: -1;
  filter: brightness(0.7);
}
.main .hero .hero-title {
  color: white;
  font-size: 4rem;
  font-weight: 500;
}
.main .hero .btn-arrow {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1.5rem;
  color: white;
}

.about {
  position: relative;
  padding-top: var(--section-margin);
}
.about .map {
  position: absolute;
  z-index: -2;
  width: 100%;
}
.about .btn-arrow {
  color: #18428b;
  margin-top: 1.5rem;
}
.about .watermark {
  position: absolute;
  right: 0;
  top: 5rem;
}
.about__inner {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}

.services-image {
  width: 100%;
  height: 600px;
  transform: translateY(-50%);
}
.services-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service--container {
  height: 300px;
}

.services {
  background-color: #18428b;
  margin-top: var(--section-margin);
  padding: 6rem 0;
  padding-bottom: 400px;
}
.services__title {
  text-align: center;
  color: white;
}
.services__inner {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 5rem;
}
.services .service-item {
  color: white;
}
.services .service-item__title {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 2rem;
  padding-top: 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
}
.services .service-item__subtitle {
  margin-top: 1.5rem;
}
.services .service-item__icon {
  height: 50px;
  width: 50px;
}

.values {
  margin-top: var(--section-margin);
}
.values .section-line {
  margin-top: 1.5rem;
}
.values .section-title {
  margin-top: 1.5rem;
}
.values__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}
.values .values-list {
  list-style: none;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.values .values-list__title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #18428b;
  text-transform: uppercase;
}
.values .values-list__description {
  overflow: hidden;
  max-height: 450px;
  padding-bottom: 1.2rem;
  transition: max-height 0.7s ease, padding 0.7s ease;
}
.values .values-list .hide {
  max-height: 0rem;
  padding-bottom: 0;
}
.values .values-list .rotate-plus {
  transform: rotate(-45deg);
}
.values .values-item {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 1.2rem;
}
.values .values-item .top {
  cursor: pointer;
  padding-bottom: 1.2rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 10fr 1fr;
}
.values .values-item .top .plus {
  display: flex;
  justify-content: end;
}
.values .values-item .top .plus img {
  transition: transform 0.7s ease;
  height: 1.2rem;
  width: 1.2rem;
}

.offers {
  margin-top: var(--section-margin);
}
.offers .right {
  width: 100%;
}
.offers__title {
  width: 80%;
  margin-top: 1.5rem;
}
.offers__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  margin-top: 2.5rem;
}
.offers .offers-list {
  list-style: none;
  font-size: 1.1rem;
}
.offers .offers-list .list-item {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 0.9rem;
  cursor: default;
}
.offers .offers-list .list-item:hover .list-item__line {
  opacity: 1;
}
.offers .offers-list .list-item__line {
  transition: opacity 0.2s linear;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  opacity: 0;
  border-top: 1px solid #18428b;
  min-width: 2em;
}

.team {
  margin-top: var(--section-margin);
}
.team .carousel-buttons {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
}
.team .section-name {
  margin-top: 1rem;
}
.team__inner {
  margin-top: 2.5rem;
}
.team__inner .human {
  margin-right: 20px;
}
.team__inner .human .human-image {
  height: 20vw;
  min-height: 300px;
}
.team__inner .human .human-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.team__inner .human__name {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
}
.team__inner .human__position {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 0.5rem;
}

.quote {
  margin-top: var(--section-margin);
  position: relative;
}
.quote__inner {
  display: grid;
  grid-template-columns: 1fr 3fr;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}
.quote__text {
  font-size: 2rem;
  font-weight: 500;
}
.quote__author {
  margin-top: 1.5rem;
  grid-column: 2;
  text-align: end;
}
.quote .quote-bg {
  position: absolute;
  background-color: #f2f5f8;
  width: 50%;
  right: 0;
  top: 80px;
  z-index: -1;
  height: 350px;
}

@media only screen and (max-height: 900px) {
  .main .scroll-down {
    left: 5%;
    bottom: 5%;
  }
}
@media only screen and (max-height: 600px) {
  .main {
    height: 600px;
  }
  .main video {
    height: 600px;
  }
}
@media only screen and (max-width: 1700px) {
  .main .scroll-down {
    left: 5%;
  }
  .about .watermark {
    width: 90%;
  }
}
@media only screen and (max-width: 1100px) {
  .quote__text {
    font-size: 1.5rem;
  }
  .quote .quote-bg {
    top: 1rem;
  }
  .offers__inner {
    display: block;
  }
  .offers__inner .offers--image {
    margin-top: 2.5rem;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about__inner {
    display: block;
  }
  .about__inner .right {
    margin-top: 1.5rem;
    width: 50%;
  }
  .about .watermark {
    width: 95%;
  }
  .main .hero .hero-title {
    font-size: 3rem;
  }
  .services .service-item__title {
    font-size: 1.2rem;
  }
  .service--container {
    height: 200px;
  }
  .services-image {
    height: 400px;
  }
  .values__inner {
    display: block;
  }
  .values__inner .right {
    margin-top: 3rem;
  }
}
@media only screen and (max-width: 800px) {
  .services__inner {
    margin-top: 2rem;
  }
  .about .map {
    width: 200%;
  }
  .quote__inner {
    grid-template-columns: 1fr 15fr;
  }
  .quote .quote-icon {
    width: 2rem;
  }
  .quote .quote-bg {
    top: 3rem;
  }
  .team__inner {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 5vw;
         column-gap: 5vw;
  }
  .team__inner .human .human-image {
    height: 30rem;
  }
  .about__inner {
    display: block;
  }
  .about__inner .right {
    margin-top: 1.5rem;
    width: 100%;
  }
  .main .hero .hero-title {
    font-size: 2.5rem;
  }
  .services {
    padding-bottom: 300px;
  }
  .values .values-list__title {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 650px) {
  .about .map {
    width: 300%;
  }
  .offers .offers-list {
    font-size: 1rem;
  }
  .offers .offers-list .list-item__line {
    opacity: 1;
  }
  .service--container {
    height: 150px;
  }
  .services-image {
    height: 300px;
  }
  .services__inner {
    grid-template-columns: 1fr 1fr;
  }
  .about .watermark {
    display: none;
  }
  .main .hero .hero-title {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 550px) {
  .quote__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .quote__text {
    font-size: 1.2rem;
  }
  .quote .quote-bg {
    top: 4rem;
  }
  .main .hero .hero-title {
    font-size: 1.5rem;
  }
  .offers__inner .offers--image {
    height: 250px;
  }
}
@media only screen and (max-width: 450px) {
  .services {
    padding-bottom: 200px;
  }
  .service--container {
    height: 100px;
  }
  .services-image {
    height: 200px;
  }
  .services__inner {
    grid-template-columns: 1fr;
  }
  .services__title {
    text-align: left;
  }
}
@media only screen and (max-width: 380px) {
  .team__inner {
    grid-template-columns: 1fr;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .team__inner .human .human-image {
    height: 25rem;
  }
  .offers__inner .offers--image {
    height: 200px;
  }
  .offers .offers-list .list-item__line {
    min-width: 1.5rem;
  }
  .main .hero .hero-title {
    width: 80%;
  }
  .values .values-list__title {
    font-size: 1rem;
  }
}/*# sourceMappingURL=home.css.map */