@import "../../shared/header";
@import "../../shared/template";
@import "../../shared/footer";

.main {
  height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .scroll-down {
    position: absolute;
    bottom: 100px;
    left: 100px;
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    object-fit: cover;
    height: 100vh;
    z-index: -1;
    filter: brightness(0.7);
  }
  .hero {
    .hero-title {
      color: white;
      font-size: 4rem;
      font-weight: 500;
    }
    .btn-arrow {
      margin-top: 35px;
      color: white;
    }
  }
}

.about {
  position: relative;
  padding-top: 13rem;
  .map {
    position: absolute;
    z-index: -2;
  }
  .btn-arrow {
    color: $primary;
    margin-top: 35px;
  }
  .watermark {
    position: absolute;
    right: 0;
    top: 5rem;
  }
  &__inner {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
  }
}

// Services
.services-image {
  width: 100%;
  background-color: grey;
  height: 600px;
  transform: translateY(-50%);
}

.service--container {
  height: 300px;
}

.services {
  background-color: $primary;
  margin-top: 13rem;
  padding: 6rem 0;
  padding-bottom: 400px;
  &__title {
    text-align: center;
    color: white;
  }
  &__inner {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 5rem;
  }
  .service-item {
    color: white;
    &__title {
      border-top: 1px solid $white-30;
      margin-top: 2rem;
      padding-top: 2rem;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 500;
    }
    &__subtitle {
      margin-top: 1.5rem;
    }
    &__icon {
      height: 50px;
      width: 50px;
    }
  }
}

//Values
.values {
  margin-top: 13rem;
  .section-line {
    margin-top: 25px;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
  }
  .values-list {
    list-style: none;
    &__title {
      font-size: 1.5rem;
      font-weight: 500;
      color: $primary;
      text-transform: uppercase;
    }
    &__description {
      overflow: hidden;
      max-height: 6rem;
      padding-bottom: 1.2rem;
      transition: max-height 0.7s ease, padding 0.7s ease;
    }
    .hide {
      max-height: 0rem;
      padding-bottom: 0;
    }
    .rotate-plus {
      transform: rotate(-45deg);
    }
  }
  .values-item {
    width: 100%;
    border-bottom: 1px solid $grey-30;
    padding-top: 1.2rem;
    .top {
      cursor: pointer;
      padding-bottom: 1.2rem;
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 10fr 1fr;
      .plus {
        display: flex;
        justify-content: end;
        img {
          transition: transform 0.7s ease;
          height: 1.2rem;
          width: 1.2rem;
        }
      }
    }
  }
}

.offers {
  margin-top: 13rem;
  .right {
    width: 100%;
  }
  &__title {
    width: 80%;
    margin-top: 1.5rem;
  }
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    margin-top: 2.5rem;
  }
  .offers-list {
    list-style: none;
    font-size: 1.1rem;
    .list-item {
      display: flex;
      align-items: center;
      gap: 1em;
      cursor: pointer;
      margin-bottom: 0.9rem;
      &:hover .list-item__line {
        opacity: 1;
      }
      &__line {
        transition: opacity 0.2s linear;
        min-width: max-content;
        opacity: 0;
        border-top: 1px solid $primary;
        min-width: 2em;
      }
    }
  }
}

.team {
  margin-top: 13rem;
  .section-title {
    margin-top: 1.5rem;
  }
  &__inner {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 4rem;
    row-gap: 4rem;
    .human {
      .human-image {
        height: 27rem;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      &__name {
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: 1rem;
      }
      &__position {
        font-size: 1.1rem;
        color: $grey-60;
        margin-top: 0.5rem;
      }
    }
  }
}

.quote {
  margin-top: 13rem;
  position: relative;
  &__inner {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 60px;
  }
  &__text {
    font-size: 2rem;
    font-weight: 500;
  }
  &__author {
    margin-top: 1.5rem;
    grid-column: 2;
    text-align: end;
  }
  .quote-bg {
    position: absolute;
    background-color: $bg;
    width: 50%;
    right: 0;
    top: 100px;
    z-index: -1;
    height: 400px;
  }
}
