@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
.bold {
  font-weight: 700;
}

a {
  color: inherit;
  font-family: "Manrope", sans-serif;
  text-decoration: none;
}

.section-name {
  font-size: 1.1rem;
  color: #242424;
}

.section-title {
  font-size: 2.5rem;
  color: #18428b;
  font-weight: 500;
}

.section-subtitle {
  font-size: 1rem;
  color: #242424;
}

.btn-arrow {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  gap: 20px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  transition: opacity 0.2s linear;
  cursor: pointer;
}
.btn-arrow:hover {
  opacity: 0.7;
}

.btn {
  padding: 1em 2em;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 38px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  display: flex;
  gap: 5px;
  cursor: pointer;
  transition: background 0.2s linear;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

body {
  color: #242424;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
}

.header {
  position: absolute;
  padding: 0 100px;
  top: 0;
  width: 100%;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .link-list {
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: 500;
  gap: 60px;
  color: white;
}
.header .link-list__item {
  transition: opacity 0.2s linear;
}
.header .link-list__item:hover {
  opacity: 0.8;
}
.header .right {
  display: flex;
  gap: 25px;
  align-items: center;
}
.header .right .language-select {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  font-family: "Manrope", sans-serif;
  cursor: pointer;
  transition: background 0.2s linear;
}
.header .right .contact-btn {
  color: white;
}
.header .right .contact-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.bold {
  font-weight: 700;
}

a {
  color: inherit;
  font-family: "Manrope", sans-serif;
  text-decoration: none;
}

.section-name {
  font-size: 1.1rem;
  color: #242424;
}

.section-title {
  font-size: 2.5rem;
  color: #18428b;
  font-weight: 500;
}

.section-subtitle {
  font-size: 1rem;
  color: #242424;
}

.btn-arrow {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  gap: 20px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  transition: opacity 0.2s linear;
  cursor: pointer;
}
.btn-arrow:hover {
  opacity: 0.7;
}

.btn {
  padding: 1em 2em;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 38px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  display: flex;
  gap: 5px;
  cursor: pointer;
  transition: background 0.2s linear;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

body {
  color: #242424;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
}

.bold {
  font-weight: 700;
}

a {
  color: inherit;
  font-family: "Manrope", sans-serif;
  text-decoration: none;
}

.section-name {
  font-size: 1.1rem;
  color: #242424;
}

.section-title {
  font-size: 2.5rem;
  color: #18428b;
  font-weight: 500;
}

.section-subtitle {
  font-size: 1rem;
  color: #242424;
}

.btn-arrow {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  gap: 20px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  transition: opacity 0.2s linear;
  cursor: pointer;
}
.btn-arrow:hover {
  opacity: 0.7;
}

.btn {
  padding: 1em 2em;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 38px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  display: flex;
  gap: 5px;
  cursor: pointer;
  transition: background 0.2s linear;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

body {
  color: #242424;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
}

.footer {
  margin-top: 350px;
  position: relative;
  padding: 3.5rem 0;
}
.footer a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer .left-bg {
  z-index: -2;
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 50%;
  background-color: #f2f5f8;
}
.footer .right-bg {
  z-index: -2;
  width: 50%;
  left: 50%;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: #18428b;
}
.footer__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer__inner ul {
  list-style: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer__inner ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer__inner .right {
  padding-left: 6rem;
  color: white;
}
.footer__links {
  margin-top: 3rem;
}
.footer__link {
  margin-bottom: 1.5rem;
  font-weight: 500;
}
.footer__accent-wrapper {
  margin-top: 3rem;
}
.footer__accent-link {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.footer .rights-reserved {
  margin-top: 6rem;
}
.footer .form-title {
  font-weight: 500;
  font-size: 3rem;
}
.footer .form-subtitle {
  margin-top: 0.8rem;
}
.footer .footer-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.footer .footer-form .footer-input {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  padding: 1rem 0;
  resize: none;
  margin-bottom: 1rem;
}
.footer .footer-form .footer-button {
  cursor: pointer;
  padding: 1rem 4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #18428b;
  background-color: white;
  outline: none;
  border: none;
  font-size: 1rem;
  font-family: "Manrope", sans-serif;
  border-radius: 2.5rem;
  margin-top: 3rem;
  transition: background 0.2s linear;
}
.footer .footer-form .footer-button:hover {
  background-color: rgb(222, 222, 222);
}

.main {
  height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .scroll-down {
  position: absolute;
  bottom: 100px;
  left: 100px;
}
.main video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  z-index: -1;
  filter: brightness(0.7);
}
.main .hero .hero-title {
  color: white;
  font-size: 4rem;
  font-weight: 500;
}
.main .hero .btn-arrow {
  margin-top: 35px;
  color: white;
}

.about {
  position: relative;
  padding-top: 13rem;
}
.about .map {
  position: absolute;
  z-index: -2;
}
.about .btn-arrow {
  color: #18428b;
  margin-top: 35px;
}
.about .watermark {
  position: absolute;
  right: 0;
  top: 5rem;
}
.about__inner {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}

.services-image {
  width: 100%;
  background-color: grey;
  height: 600px;
  transform: translateY(-50%);
}

.service--container {
  height: 300px;
}

.services {
  background-color: #18428b;
  margin-top: 13rem;
  padding: 6rem 0;
  padding-bottom: 400px;
}
.services__title {
  text-align: center;
  color: white;
}
.services__inner {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 5rem;
}
.services .service-item {
  color: white;
}
.services .service-item__title {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 2rem;
  padding-top: 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
}
.services .service-item__subtitle {
  margin-top: 1.5rem;
}
.services .service-item__icon {
  height: 50px;
  width: 50px;
}

.values {
  margin-top: 13rem;
}
.values .section-line {
  margin-top: 25px;
}
.values__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}
.values .values-list {
  list-style: none;
}
.values .values-list__title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #18428b;
  text-transform: uppercase;
}
.values .values-list__description {
  overflow: hidden;
  max-height: 6rem;
  padding-bottom: 1.2rem;
  transition: max-height 0.7s ease, padding 0.7s ease;
}
.values .values-list .hide {
  max-height: 0rem;
  padding-bottom: 0;
}
.values .values-list .rotate-plus {
  transform: rotate(-45deg);
}
.values .values-item {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 1.2rem;
}
.values .values-item .top {
  cursor: pointer;
  padding-bottom: 1.2rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 10fr 1fr;
}
.values .values-item .top .plus {
  display: flex;
  justify-content: end;
}
.values .values-item .top .plus img {
  transition: transform 0.7s ease;
  height: 1.2rem;
  width: 1.2rem;
}

.offers {
  margin-top: 13rem;
}
.offers .right {
  width: 100%;
}
.offers__title {
  width: 80%;
  margin-top: 1.5rem;
}
.offers__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  margin-top: 2.5rem;
}
.offers .offers-list {
  list-style: none;
  font-size: 1.1rem;
}
.offers .offers-list .list-item {
  display: flex;
  align-items: center;
  gap: 1em;
  cursor: pointer;
  margin-bottom: 0.9rem;
}
.offers .offers-list .list-item:hover .list-item__line {
  opacity: 1;
}
.offers .offers-list .list-item__line {
  transition: opacity 0.2s linear;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  opacity: 0;
  border-top: 1px solid #18428b;
  min-width: 2em;
}

.team {
  margin-top: 13rem;
}
.team .section-title {
  margin-top: 1.5rem;
}
.team__inner {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  row-gap: 4rem;
}
.team__inner .human .human-image {
  height: 27rem;
}
.team__inner .human .human-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.team__inner .human__name {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
}
.team__inner .human__position {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 0.5rem;
}

.quote {
  margin-top: 13rem;
  position: relative;
}
.quote__inner {
  display: grid;
  grid-template-columns: 1fr 3fr;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.quote__text {
  font-size: 2rem;
  font-weight: 500;
}
.quote__author {
  margin-top: 1.5rem;
  grid-column: 2;
  text-align: end;
}
.quote .quote-bg {
  position: absolute;
  background-color: #f2f5f8;
  width: 50%;
  right: 0;
  top: 100px;
  z-index: -1;
  height: 400px;
}/*# sourceMappingURL=home.css.map */