@import "../../shared/footer";
@import "../../shared/template";
@import "../../shared/header";
@import "../../shared/cover";
@import "../../shared/burger";

.header {
  position: static;
  .link-list {
    color: $dark;
  }
  .right {
    .language-select {
      color: $dark;
    }
    .contact-btn {
      color: $dark;
      border: 1px solid $dark;
    }
  }
  .burger {
    .line {
      background-color: $dark;
    }
  }
}

.cover {
  background-image: url("../../../../assets/images/truck-bg1.jpg");
}

.about {
  margin-top: $subpage-margin;
  .section-title {
    margin-top: 1rem;
    width: 80%;
  }
  &__inner {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    .right {
      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }
  &__text {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }
  .btn-arrow {
    color: $primary;
    margin-top: 2rem;
    text-align: left;
  }
}

@media only screen and (max-width: 850px) {
  .about {
    margin-top: 5rem;
  }
  .about__inner {
    display: block;
    .right {
      margin-top: 2rem;
      height: 60vw;
    }
  }
}
